
.Container{
    background: url('../../assests/HomePagePics/shopping.jpg') center center/cover no-repeat;
     padding:50px; 
    border:7px black;
    height: 70vh;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}
.Text h1{
    font-family: "Lucida Console", Courier, sans-serif;
    color: black;
    padding-bottom: 10%;
    
    /* position: absolute; */
      
}
.Category{
    margin-left: 0px;
    padding-left: 0%;
    position: relative;
}
/* .Text Search{
    width:30%;
    height:10%;
    margin:0 auto; 
    border-radius: 10px;
    text-align: center;
    text-decoration: black;
    position: absolute;
} */
.Text{
    
    color: white;
    font-weight: bold;
    /* border: 3px solid #f1f1f1; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 40px;
    text-align: center;

}
.Text input{
    /* width:30%;
    height:10%;
    margin:0 auto;  */
    border-radius: 10px;    
    text-decoration: black;
    height: 40px;
    width: 50%;
    border: black 2px;
    text-align: center;

    
}